body {
    margin: 0;
}

.page-section {
    padding-bottom: 50px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.banner1 {
    padding-top: 20px;
    text-align: center;
}

.banner1__title {
    font-family: Georgia, sans-serif;
    font-size: 33px;
    font-weight: 400;
    line-height: 68px;
    text-align: center;
    color: #2C2A29;
    padding-bottom: 26px;
    vertical-align: middle;
}

.banner1__images {
    display: flex;
    gap: 27px;
    align-items: center;
    justify-content: center;
    max-width: 635px;
    margin: 0 auto;
}

.banner1__image img {
    width: 100%;
}

.banner1__desc {
    font-family: Roboto, sans-serif;
    padding-top: 35px;
    font-size: 12.6px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: #2C2A29;
    max-width: 635px;
    margin: 0 auto;
    letter-spacing: 0px;
}